# Unreal
Binaries/
DerivedDataCache/
Intermediate/
Saved/

# Visual Studio
.vs/
*.sln
*.VC.db
*.VC.opendb

# Build artifacts
*.pdb
*.obj
*.dll
*.exe
*.lib
*.exp

# Logs
*.log

# OS
.DS_Store
Thumbs.db